<h1>Welcome to My App</h1>
<p>This is the home page of my app</p>

<%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
<%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %>