<div class="container">
  <div style="text-align: center;">
    <div class="container my-0 mx-auto" style="padding-top: 2rem">
      <%= image_tag "logo_2.png", :size =>'800x500' %>
    </div>
    <div class="contents-title text-center" style="padding-top: 3rem">
      <div class="content_area my-0 mx-auto">
        <h1 class="index_title1">Re'sとは</h1>
        <p class="index_text">学校や職場・家庭などでのいじめ・嫌がらせ、または昨今問題となっている</p>
        <p class="index_text">SNSでの誹謗中傷などによって悩みを抱えている方・心を痛めている方を</p>
        <p class="index_text">前向きな明日へ導くためのアプリケーションです</p>
        <h2 class="index_title2">このアプリが解決する課題</h2>
        <p class="index_text">いじめや嫌がらせ・誹謗中傷に悩んでいる方が相談相手に事欠き一人で抱え込んでしまわないようにアプリケーション上で言語化して想いを整理でき、まずはご本人の心を少しでも軽くします。さらに投稿された悩みに対し第三者がアドバイスをすることで投稿した人はそれまで自分が持っていなかった新たな視点で悩みに対しアプローチすることができます。</p>
        <hr>
        <h2 class="index_title2">使い方と機能</h2>
      </div>
    </div>
    <div class="content_area my-0 mx-auto">
      <p class="index_title3">◇ユーザー登録</p>
      <p class="index_text">名前(ニックネーム可)・メールアドレスを入力します。</p>
      <p class="index_title3">◇悩み事を投稿・確認・編集・削除できる機能</p>
      <p class="index_text">どのような悩み事かをラベル付けすることで分類できます。</p>
      <p class="index_title3">◇投稿に対し第三者がコメントできる機能</p>
      <p class="index_text">第三者は新着順・ラベル別などで確認した投稿に対しコメントをすることができます。</p>
      <p class="index_title3">◇お気に入り登録</p>
      <p class="index_text">第三者は、悩み事の投稿に対しお気に入り登録することができます。後で内容を確認したい場合に他投稿との識別が容易になります。</p>
    </div>
    <div class="content_area my-0 mx-auto">
      <p class="index_title3">◆管理者画面</p>
      <p class="index_text">管理者画面ではユーザー情報・投稿の情報を確認することができます。</p>
    </div>
  </div>
</div>